doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{DocTitle}
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet", href="/product.css")

    body
        header.main-header
             nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/fpage/add-product") Add Product  
                        
        main
            if a.length > 0
                .grid
                    each arr in a
                        article.card.product-item 
                            header.card__header
                                h1.product__title #{arr.title} 
                            div.card__image
                                img(src="https://img.freepik.com/premium-photo/opened-book-bible-background_112554-164.jpg?w=360", alt="A Book")
                            div.card__content
                                h2.product__price $25.50
                            .card__actions
                                button.btn ADD TO CART 
            else 
                h1.title No Products Bruhhh...